@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
}

.link {
    text-decoration: none;
    color: inherit;
}

.ck .ck-editor {
    display: flex;
    flex-direction: column;
    flex: 1;
}